body {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(to bottom,#c3beaf,#50484b);
    background: linear-gradient(to bottom,#c3beaf,#50484b); 
    color: black;
    width: 500px;
    height: 500px;
    position: relative;
    font-family: 'Krona One', serif;
}

#selector {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-top: 50px;
}

#selection {
    display: block;
    margin: 0 auto;
    height: 30px;
    padding: 0 10px;
    outline: none;
    text-transform: uppercase;
    font-family: 'Krona One';
}

#root {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

#root > div > span {
    color: #fff;
    text-transform: uppercase;
}


#loader {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #020202;
    opacity: 0.5;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #f2f2f2;
    border-bottom: 0px;
    border-top: 0px;
    animation: loading 500ms infinite;
    position: absolute;
    top: 215px;
    left: 215px;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
